<div class="index-header">
    <%- include("cTask-logo") %> 
    
    <% let data = {} // temporary variable %> 

    <!-- some logic, to check if the profile picture exist or not -->
    <% if (!data.userProfilePictUrl) { %>
        <a href="/user/profile">
            <div class="unset-user-pp">
                <div class="headShape"></div>
                <div class="bodyShape"></div>
            </div>
        </a>
    <% } else { %>
        <a href="/user/profile/<%= data._id %>">
            <img src="<%= data.userProfilePictUrl %>" alt="<%= data.username || "User" %> Profile Picture.">
        </a>
    <% } %>
</div>