<div class="index-header">
    <%- include("cTask-logo") %> 
    
    <% let data = {} // temporary variable %> 

    <a class="profile-thumbnail" href="/user/profile">
        <h6 class="username">
            <% // let username = "Haniff" %> 
            <%= userData.username %> 
        </h6>
        
        <!-- some logic, to check if the profile picture exist or not -->
        <% if (userData.profilePicturePath) { %>
            <img src="<%= userData.profilePicturePath %>" alt="<%= userData.username %> profile picture" class="pp-image">
        <% } else { %>
            <img src="others/unknown-pp.jpg" alt="Unknown Profile Picture" class="pp-image">        
        <% } %> 
    </a>
</div>