<nav class="mobile-nav">
    <span class="iconify close-icon" data-icon="clarity:close-line"></span>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/hanif-page/cTask" target="_blank">Contribute</a></li>
    </ul>

    <form action="/logout" method="get">
        <button class="logout-btn">
            <span class="iconify logout-icon" data-icon="carbon:logout"></span>
            <span class="logout-text">Logout</span>
        </button>
    </form>
</nav>