<div class="profile-header">
    <%- include("cTask-logo") %> 
    
    <!-- desktop size -->
    <ul class="desktop-active">
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/hanif-page/cTask" target="_blank">Contribute</a></li>
    </ul>
    <form action="" class="desktop-active">
        <button class="logout-btn">
            <span class="iconify logout-icon" data-icon="carbon:logout"></span>
            <span class="logout-text">Logout</span>
        </button>
    </form>

    <!-- mobile size -->
    <div id="open-mobileNav">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>