<h1>This is image reducer test page</h1>
<br>
<input id="file" accept=".jpg, .png, .jpeg" type="file" onchange="preview_image()">
<br>
<img src="<%= pict %>" id="old" style="max-width: 90%; height: auto; border: solid thick red">
<br>
<img src="<%= resizedPict2 %>" id="new" style="border: solid thick red">