<div class="signing-layout inner-container">
    <h2>Login</h2>

    <div class="unknown-pp"></div>

    <div class="form-field">
        <form action="">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Your email here...">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Your password here...">
            </div>
            <button>Login</button>
        </form>
        <div class="alternative-text">
            Don't have an account? <a href="/signup" style="color: var(--main-purple)">Sign Up</a>
        </div>
    </div>
</div>