<div class="profile-content">
    <div class="pp-image">

    </div>

    <div class="data-section">
        <div class="data">
            <div class="label">Username</div>
            <div class="information">Haniff</div>
        </div>
        <div class="data">
            <div class="label">Email</div>
            <div class="information">amrhanif15@gmail.com</div>
        </div>
        <div class="data">
            <div class="label">Password</div>
            <div class="information">********</div>
        </div>
    </div>

    <a href="/user/profile/edit" class="edit-profile-btn">Edit Profile</a>
</div>