<form action="/task/text-edit/<%= taskID %>?_method=PUT" method="post" class="profile-content inner-container">
    <div class="data-section">
        <div class="data">
            <div class="label">Task</div>
            <input required class="information" type="text" name="task" value="<%= prevTask %>">
        </div>
        <div class="data">
            <div class="label">Detail</div>
            <textarea name="taskDetail" required class="information"><%= prevDetail %></textarea>
        </div>
    </div>

    <div class="buttons">
        <a href="/" class="edit-profile-btn" style="margin: 0;">Cancel</a>
        <button>Update</button>
    </div>
</form>