<div class="profile-content">
    <div class="pp-container">
        <div class="pp-image">
            <a href="" class="edit-icon">
                Edit
                <!-- <span class="iconify" data-icon="bxs:pencil"></span> -->
            </a>
        </div>
    </div>

    <div class="data-section">
        <div class="data">
            <div class="label">Username</div>
            <input class="information" type="text" name="username" value="Haniff">
        </div>
        <div class="data">
            <div class="label">Email</div>
            <input type="email" class="information" name="email" value="amrhanif15@gmail.com">
        </div>
        <div class="data">
            <div class="label">Password</div>
            <input type="password" class="information" name="password" value="********" disabled>
        </div>
        <a href="" class="change-password">
            Click here to change your password.
        </a>
    </div>

    <div class="buttons">
        <a href="/user/profile" class="edit-profile-btn" style="margin: 0;">Cancel</a>
        <form action="">
            <button>Update</button>
        </form>
    </div>
</div>