:root 
{
    --checkbox-size: 24px;
}

.checkbox-container 
{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: var(--checkbox-size);
    height: var(--checkbox-size);
}

.checkbox-container input 
{
    position: absolute;
    z-index: 1;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    cursor: pointer;
    opacity: 0;
}

.checkbox-container .checkmark 
{
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    position: absolute;

    background: var(--main-white);
    border: 1px solid var(--main-black);
    transition: background-color .3s;
}

.checkbox-container .checkmark .check-icon 
{
    opacity: 0;
    transition: opacity .3s;
    color: var(--main-white);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
    border-color: transparent;
}  

.checkbox-container input:checked ~ .checkmark .check-icon {
    opacity: 1;
}
