@import './custom-checkbox.css';

.index-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-header .profile-thumbnail
{
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
    gap: .5rem;
}

.index-header .profile-thumbnail .username
{
    margin-bottom: .2rem;
    font-weight: 600;
    color: var(--main-peach);
}

.index-header .pp-image
{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    background: var(--secondary-gray);
}

.index-content .top 
{
    margin-bottom: 2.5rem;
}

.index-content .top > *
{
    display: block;
    width: 100%;
}

.index-content .top .newTask 
{
    font-size: 1em;
    background: var(--tertiary-gray);
    color: var(--main-black);
    padding: 1rem;
    border: none;
    outline: none;
    border: 1px solid var(--tertiary-gray);
    transition: border-color .5s;

    /* shadow */
    box-shadow: 4px 4px 4px rgba(0,0,0,.12);
}

.index-content .top .newTask:focus 
{
    border-color: var(--main-peach);
}

.index-content .top button 
{
    background: var(--main-peach);
    color: var(--main-white);
    padding: .4rem;
    border: none;
    outline: none;
    margin-top: 1rem;
}

.index-content .bottom form 
{
    display: flex;
    justify-content: flex-end;
}

.index-content .bottom form .clear-all-task 
{
    color: var(--danger);
}

.index-content .bottom ul 
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.index-content .task 
{
    display: flex;
    gap: .98rem;
    /* padding: .5rem 0; */
}

.index-content .task form 
{
    user-select: none;
    position: relative;
    z-index: -1;
}

/* If the word is overload, it will be broke the checkbox size. So FIX IT! */
.index-content .task .task-section
{
    flex-grow: 1;
    
    display: inherit;
    justify-content: space-between;
    align-items: center;
}

.index-content .task-section .task-name.checked 
{
    text-decoration: line-through;
}

.index-content .task-section .trash-icon
{
    width: 20px;
    height: 20px;
    color: var(--danger);
}